.title{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    background-color: beige;
    display: inline-block;
}

.stage{
    text-align: center;
    transform: translateY(25%);
}

.o{
    position: relative;
}

.o::after{
    position: absolute;
    content: '\1F438';
    line-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
}

.x{
    position: relative;
}

.x::after{
    position: absolute;
    content: '\2694';
    line-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;

}